/*  PARA AS DEMAIS MEDIAS  */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
}

@media screen and (max-width: 540px) {
    body {
        width: 540px;
        margin: auto;
        height: 90vh;
    }

    main #course-content h2 {
        
    }

    main #course-content .module-list .module {
        width: 450px;
        font-size: 17px;
    }

    main #transform-world {
        background-image: url('./images/woman-code-540.png');
        width: 540px;
    }
}

@media screen and (max-width: 680px) {
    body {
        width: 680px;
        margin: auto;
        height: 90vh;
    }

    main #course-content p {
        font-size: 16px;
        padding-bottom: 20px;
    }

    main #transform-world {
        background-image: url('./images/woman-code-680.png');
        width: 680px;
    }
}

@media screen and (max-width:786px) {
    body {
        width: 786px;
        margin: auto;
        height: 90vh;
    }

    header p {
        font-size: 18px;
    }

    main #transform-world {
        background-image: url('./images/woman-code-786.png');
        width: 786px;
    }

    main #professional-challenges img {
        width: 450px;
    }
}

@media screen and (max-width: 1024px) {
    body {
        width: 1024px;
        margin: auto;
        height: 90vh;
    }

    header {
        height: 600px;
    }

    header p {
        width: 510px;
        font-size: 19px;
        padding: 10px;
    }

    main #course-content {
        height: 500px;
    }

    main #course-content h2 {
        font-size: 42px;
        text-transform: uppercase;
        width: 477px;
    }

    main #course-content p {
        width: 830px;
        margin: auto;
        height: 38px;    
        font-size: 16px;
        padding: 20px;    
    }

    main #course-content .module-list {
        gap: 20px;
    }

    main #course-content .module-list .module {
        width: 500px;
        height: 51px;

        gap: 7px;
        font-size: 16px;
    }

    main #transform-world {
        background-image: url('./images/woman-code-1024.png');
        width: 1024px;
        height: 560px;
        padding: 200px 70px;
    }

    main #transform-world p {
        max-width: 270px;
        height: 141px;
    }

    main #professional-challenges {
        height: 671px;
    }

    main #professional-challenges h2 {
        font-size: 32px;
        height: 74px;
    }

    main #professional-challenges img {
        width: 659px;
    }

    main #professional-challenges p {
        width: 792px;
        font-size: 16px;
    }

    footer {
        height: 170px;
    }

    footer img {
        width: 310px;
        height: 44px;
    }

    footer p {
        width: 259px;
        height: 19px;
        font-size: 16px;
    }
}

@media screen and (max-width: 1200px) {
    body {
        width: 1200px;
        margin: auto;
        height: 90vh;
    }

    header {
        height: 600px;
    }

    header h1 {
        font-size: 40px;
    }

    header p {
        font-size: 18px;
        width: 510px;
        height: 46px;        
    }

    header button {
        margin-top: 20px;
    }

    main #course-content {

        gap: 10px;

        height: 500px;

        padding-top: 90px;
        padding-bottom: 40px;

        

    }

    main #course-content h2 {
        font-size: 42px;
        text-transform: uppercase;
        width: 792px;
        text-align: center;
    }

    main #course-content p {
        font-size: 16px;
        width: 792px;
        margin: auto;
        height: 38px;

        padding-bottom: 20px;
    }

    main #course-content .module-list {
        gap: 20px;
    }

    main #course-content .module-list .module {
        width: 535px;
        height: 57px;

        gap: 7px;
        font-size: 16px;
    }

    main #transform-world {
        background-image: url('./images/woman-code-1200.png');
        width: 1200px;
        height: 560px;

        padding: 170px;
    }

    main #transform-world p {
        max-width: 270px;
        font-size: 40px;
    }

    main #professional-challenges {
        height: 671px;
    }

    main #professional-challenges h2 {
        font-size: 32px;
        height: 74px;
    }

    main #professional-challenges img {
        width: 659px;
    }

    main #professional-challenges p {
        width: 792px;
        font-size: 16px;
    }

    footer {
        height: 170px;
    }

    footer img {
        width: 310px;
        height: 44px;
    }

    footer p {
        width: 259px;
        height: 19px;
        font-size: 16px;
    }
}